= render 'devise/shared/header'

.mypage

  .mypage__left
    .mypage__left__contents
      .mypage__left__contents__content-title
        =link_to "出品する", new_exhibition_path
    .mypage__left__contents
      .mypage__left__contents__content-title
        =link_to "出品した商品ー出品中", "#"
    .mypage__left__contents
      .mypage__left__contents__content-title
        =link_to "出品した商品ー売却済み", "#"
    .mypage__left__contents
      .mypage__left__contents__content-title
        =link_to "購入した商品ー過去の取引", "#"
    .mypage__left__settings-desc
      %h1 設定
    .mypage__left__settings
      .mypage__left__settings__setting-title
        = link_to "支払い方法", new_card_path
    .mypage__left__settings
      .mypage__left__settings__setting-title
        = link_to "ログアウト", destroy_user_session_path, method: :delete

  .mypage__right
    .mypage__right__user-head
      .mypage__right__user-head__icon
        =image_tag '/images/mypage-sample-icon.png'  # 仮置きのユーザー画像
        -# = current_user.image
      .mypage__right__user-head__nickname
        = current_user.nickname
      .mypage__right__user-head__products-count

= render 'devise/shared/promptDl'
= render 'devise/shared/footer'