= render 'devise/shared/header'

.item
  .item__container
    .item__container__title 購入内容の確認
    .item__container__content.section
      .item__container__content__outline
        .item__container__content__outline__img
          = image_tag @exhibition.images.first.image.url, height: '80', width: '80', class: "item__container__content__outline__img__figure"
        .item__container__content__outline__details
          .item__container__content__outline__details__name
            %p.item__container__content__outline__details__name__text
              = @exhibition.name
            %p.item__container__content__outline__details__name__price
              %span.item__container__content__outline__details__name__price__text 送料込み (税込)
              %span.item__container__content__outline__details__name__price__pay
                - i_price = @exhibition.price.to_s
                = "¥" + i_price
    .item__container__pay.section
      .item__container__pay__box
        %span 支払い金額
        %span.item__container__pay__box__price
          = "¥" + i_price
    .item__container__PayMethod.section
      %h3.item__container__PayMethod__title 支払い方法
      .single-container
        %section.creditcard_section
          %h3 クレジットカード一覧
          - if @card.present?
            .container
              .creditcard-info
                = image_tag @card_src, alt: @card_brand
                %p.creditcard-info__number
                  = "**** **** **** " + @customer_card.last4
                %p.creditcard-info__period
                = @exp_month + " / " + @exp_year
                = button_to "削除する", card_path(@card), method: :delete, class:"creditcard-info__delete"
          - else
            = link_to new_card_path, class: "item__container__PayMethod__registration" do
              %i.fas.fa-plus-circle{"aria-hidden": true, heigh: "16", viewbox: "0 0 24 24", width: "16"}
              %span.item__container__PayMethod__registration__text 登録してください
    .item__container__shipping.section
      .item__container__shipping__box
        .item__container__shipping__box__head
          %h3.item__container__shipping__box__head__title 配送先
          = link_to "", class: "item__container__shipping__box__head__change" do
            変更する
            %i.fas.fa-chevron-right{"aria-hidden": true, heigh: "16", viewbox: "0 0 24 24", width: "16"}
        .item__container__shipping__box__address
        %p
          〒
          = @purchase.post_code
        %p
          = JpPrefecture::Prefecture.find(@purchase.prefecture_code).name
          = @purchase.city
          = @purchase.address
          = @purchase.building_name
        %p
          = current_user.family_name
          = current_user.first_name
    .item__container__purchases.section
      .item__container__purchases__box
        - if @user.card.present?
          = link_to pay_exhibition_path(@exhibition.id), {class: "item__container__purchases__box__text__"}, method: :post do
            .item__container__purchases__box__btn
              購入する
        - else
          %p.item__container__purchases__box__text
            支払い方法を完了してください

= render 'devise/shared/footer'